@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@using FrontEnd.Services
@using NetcodeHub.Packages.Extensions.LocalStorage
@inject BroadcastService broadcastService
@inject NavigationManager NavManager
@inject ILocalStorageService localStorageService

<AuthorizeView>
    <Authorized>
        <h1>Hello, you are authorized!</h1>
    </Authorized>
    <NotAuthorized>
        <h1>Hello, you are not authorized!</h1>
    </NotAuthorized>
</AuthorizeView>

<p>@Message</p>

@code {
    [CascadingParameter] public Task<AuthenticationState> AuthState {get; set;}
    string Message = string.Empty;

    protected async override Task OnInitilizedAsync()
    {
        var user = (await AuthState!).User;
        if (!user.Identity!.IsAuthenticated)
        {
            NavManager.NavigateTo("/login");
            return;
        }
    }
}    
